<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdafo3UumbGwxxqYMAyCuVL7O_qjSMRJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>251940649994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navidrahman.pokedex.pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-dbb80</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-dbb80.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251940649994:ios:e7b8aa413cf1ffad6333f3</string>
</dict>
</plist>